<div id='wrapper'>
    <div id='color-form' style = 'float: left; width: 40%;'>
        <h1>Add a new word</h1>
        <form method="post" action="process">
            {% csrf_token %} 
            <input type='text' name='word'>
            <p>Choose color</p>
            <p>  <input type='radio' name='color' value='red'> Red</p>
            <p> <input type='radio' name='color' value='green'>  Green</p>
            <p> <input type='radio' name='color' value='blue' checked> Blue</p>
            <input type="checkbox" name="size" value = '2em'> show in Big fonts!</p>
            <p><input type='submit' value='Add to Session'>
        </form>
    </div> 
    <div id='results' style='display: inline-block; border-left: 3px solid black; padding-left: 40px;'>
        <form method='post' action='/clear'>
            {% csrf_token %} 
            <input type='submit' value='Clear Session'>
        </form>
            {% for word in request.session.words_list %}
                <span style = "color:{{word.color}}; font-size:{{word.size}};"> {{word.word}} </span> - added on {{word.time}} <br/>
            {%endfor%}
    </div>
</div>