<div id = "container">
    <form action='process' method='post'> 
        {% csrf_token %} 
        Your Name: <input type='text' name='name'>
        </br>
        Dojo Location: 
        <select name="loc">
            <option value="San Jose">San Jose</option>
            <option value="Washington DC">Washington DC</option>
        </select>
        </br>
        Favoriate Language: 
        <select name="language">
            <option value="python">Python</option>
            <option value="ruby">Ruby</option>
        </select>
        </br>
        Comment(optional):</br>
        <textarea name="comment" id="txt-area"></textarea></br>
        <input type='submit' value='Button' id="btn"> 
    
    </form>
</div>