{% load staticfiles %}
<html>
    <head>
        <title>Amadon</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div id='wrapper'>
            <h1>Thank you for your business!</h1>

            <p>We charged your credit card for ${{request.session.price}}</p>

            <p>You have ordered {{request.session.order_count}} times so far and spend ${{request.session.total}} with Amadon.com!</p>
            <a href='/'>Go back</a>
        </div>    
    </body>
</html>        