{% load staticfiles %}
<html>
  <head>
    <title>Amadon</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
    <body>
      <div id='wrapper'>  
        <h3>Amadon Store</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Action</th>
              
            </tr>
          </thead>
            <tbody>
              <tr>
                {%for product in request.session.products%}
                  {%if product.id == 1 %}
                    <td>{{product.name}}</td>
                    <td>$19.99</td>
                  
                    <form action='/process' method='post'>
                      {% csrf_token %}
                      <td>   
                        <select name='amount'>
                          <option value='1'>
                            1
                          </option>
                          <option value='2'>
                            2
                          </option>
                          <option value='3'>
                            3
                          </option>
                          <option value='4'>
                            4
                          </option>
                      </select>
                      </td>
                      <td>
                          <input type='hidden' name='product' value=1>
                          <input class= 'btn btn-primary' type='submit' value='Buy'>
                      </td> 
                  </form>
            </tr>
            <tr>
                {% elif product.id == 2 %}
                  <td>{{product.name}}</td>
                  <td>$29.99</td>
                  <form action='/process' method='post'>
                      {% csrf_token %}
                      <td>
                        <select name='amount'>
                          <option value='1'>
                            1
                          </option>
                          <option value='2'>
                            2
                          </option>
                          <option value='3'>
                            3
                          </option>
                          <option value='4'>
                              4
                            </option>
                        </select>
                      </td>
                      <td>
                          <input type='hidden' name='product' value=2>
                          <input class= 'btn btn-primary' type='submit' value='Buy'>
                      </td> 
                  </form>
            </tr>
            <tr>
              {%elif product.id == 3 %}
                  <td>{{product.name}}</td>
                  <td>$4.99</td>  
                  <form action='/process' method='post'>
                      {% csrf_token %}
                      <td>
                        <select name='amount'>
                          <option value='1'>
                            1
                          </option>
                          <option value='2'>
                            2
                          </option>
                          <option value='3'>
                            3
                          </option>
                          <option value='4'>
                            4
                          </option>
                        </select>
                      </td>
                      <td>
                          <input type='hidden' name='product' value=3>
                          <input class= 'btn btn-primary' type='submit' value='Buy'>
                      </td> 
                  </form>
            </tr>
            <tr>
              {%elif product.id == 4 %}
                  <td>{{product.name}}</td>
                  <td>$49.99</td>
                  <form action='/process' method='post'>
                      {% csrf_token %}
                      <td>
                          <select name='amount'>
                              <option value='1'>
                                  1
                              </option>
                              <option value='2'>
                                  2
                              </option>
                              <option value='3'>
                                  3
                              </option>
                              <option value='4'>
                                  4
                              </option>
                          </select>
                      </td>
                      <td>
                          <input type='hidden' name='product' value=4>
                          <input class= 'btn btn-primary' type='submit' value='Buy'>
                      </td> 
                  </form>
            </tr>
              {%endif%}
            {%endfor%}
          </tbody>
        </table>
      </div>
    </body>
</html>    