*{
    margin: 0px;
    padding-top: 1px;
   }
   #wrapper{
    width: 1000px;
    margin: 0px auto;
    font-size: 1.3em;
   }
   p{
       padding: 20px;
       margin-left: 250px;
   }
   .p2{
    padding: 20px;
    margin-left: 350px;
}
   #txtbox{
       width: 50px;
       height: 25px;
       margin-left: 400px;
       margin-top: 20px;
   }
  #submit{
       margin-left: 100px;
       width: 100px;
       height: 25px;
       font-size: 1.1em;
       margin-left: 370px;
       margin-top: 20px;
   }
   h1{
       margin-left: 150px;
   }
   .wrong-answer{
    width: 200px; 
    height: 200px; 
    background-color: red;
    margin-left: 350px;
   }
   .correct-answer{
    width: 200px; 
    height: 200px; 
    background-color: green;
    margin-left: 350px;
   }
   #reset{
    width: 100px;
    height: 25px;
    font-size: 1.1em;
    margin-left: 60px;
    margin-top: 80px;
   }